FileDaemon {
	Name = COLUMN#dir-fd#
	FDport = 9102
	WorkingDirectory = /var/lib/bacula
	Pid Directory = /run/bacula
	Maximum Concurrent Jobs = 1
	Plugin Directory = /usr/lib/bacula
	FDAddress = COLUMN#10.2.0.7#
}

Messages {
	Name = Standard
	director = COLUMN#dir-dir# = all, !skipped, !restored
}

