FileSet {
	Name = "Set_rubin_ctrl_viev"
	Include {
		Options {
			signature = MD5
			Compression = GZIP
			recurse = yes
			aclsupport = yes
			xattrsupport = yes
		}
		File = /etc/nii-rubin/ctrl-piev/ctrl-viev.conf
	}
}
