FileSet {
	Name = "Set_rubin_timestamp_sender"
	Include {
		Options {
			signature = MD5
			Compression = GZIP
			recurse = yes
			aclsupport = yes
			xattrsupport = yes
		}
		File = /etc/nii-rubin/timestamp-sender-astra/timestamp-sender-astra.conf
	}
}
