FileSet {
	Name = "Set_rubin_receiver"
	Include {
		Options {
			signature = MD5
			Compression = GZIP
			recurse = yes
			aclsupport = yes
			xattrsupport = yes
		}
		File = /etc/nii-rubin/timestamp-receiver-astra/timestamp-receiver-astra.conf
	}
}
