Job {
        Name = "COLUMN#BackupBD#"
        JobDefs = "DefaultJob"
        Level = COLUMN#Level#
        Client = COLUMN#dir-fd#
        FileSet= "COLUMN#Full_Set#"
        Pool = COLUMN#File#
        Storage = COLUMN#stor-sd#
	ClientRunBeforeJob = "ipa-backup --data"
	ClientRunAfterJob = "sh -c 'rm -fr /var/lib/ipa/backup/*'"
        Schedule = "COLUMN#WeeklyCycle#"
        Write Bootstrap = "/var/lib/bacula/%n.bsr"
        Priority = 11
}
