Job {
        Name = "COLUMN#BackupBD#"
        JobDefs = "DefaultJob"
        Level = COLUMN#Level#
        Client = COLUMN#dir-fd#
        FileSet= "COLUMN#Full_Set#"
        Pool = COLUMN#File#
        Storage = COLUMN#stor-sd#
	ClientRunAfterJob = "sh -c 'rm -rf /var/opt/sinaps/*; rm -rf /var/log/sinaps/vzs/*'"
        Schedule = "COLUMN#WeeklyCycle#"
        Write Bootstrap = "/var/lib/bacula/%n.bsr"
        Priority = 11
}
