Job {
        Name = "COLUMN#BackupBD#"
        JobDefs = "DefaultJob"
        Level = COLUMN#Level#
        Client = COLUMN#dir-fd#
        FileSet= "COLUMN#Full_Set#"
        Pool = COLUMN#File#
        Storage = COLUMN#stor-sd#
	ClientRunBeforeJob = "/root/sh/backup_db.sh COLUMN#bacbd# COLUMN#5433#
	ClientRunAfterJob = "/root/sh/clear_backup.sh"
        Schedule = "COLUMN#WeeklyCycle#"
        Write Bootstrap = "/var/lib/bacula/%n.bsr"
        Priority = 11
}
